.settings/
target/
bin/
obj/
Debug/
war/
_Resharper*/
*.jar
*.user
*.suo
*.tlb
*.crc
*.cab
*.lld
*.msi
.project
*.log.*
test-output
*.classpath
logs/
verigreen-collector-webapp/cacheloader/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml

## Directory-based project format:
.idea/